{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="container main-form">
    <div class="row">
      <div class="col col-sm-12 reg-form">
        <div class="reg-word">
          <span>Create An Account</span>
        </div>

        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}

          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          <button type="submit" class="btn mt-4">Create Account And Continue</button>
          </fieldset>

          <div class="signin">
            <p>Already have an account? <a href="{% url 'account_login' %}">Sign in</a>.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}