{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container contact-form"> 
  <form class="card" method="POST">
    <!-- {% csrf_token %} {{ form|crispy }} -->
    <label for="fulname">Full Name</label>
    <input type="text" id="fulname" name="fullname" placeholder="Enter your Name" />

    <label for="review">Product Review</label>
    <textarea id="review" name="review" placeholder="Enter your Message" style="height: 300;"></textarea>

    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}