{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container contact-form">
  <form class="card" method="POST">
    <!-- {% csrf_token %} {{ form|crispy }} -->
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." />

    <label for="lname">Last Name</label>
    <input
      type="text"
      id="lname"
      name="lastname"
      placeholder="Your last name.."
    />

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="u.k">U.K</option>
      <option value="brazil">Brazil</option>
      <option value="usa">USA</option>
      <option value="nigeria">Nigeria</option>
    </select>

    <label for="subject">Message</label>
    <textarea
      id="subject"
      name="subject"
      placeholder="Enter your message.."
      style="height: 200px;"
    ></textarea>
  </form>
  <button class="btn px-5 mt-4 type="submit">Submit</button>
</div>
{% endblock %}