{% extends '_base.html' %} {% load static %} {% block content %}

<main>
  <div class="container main">
    <div class="row">
      <div class="col-sm-12">
        <h4>ShiVent</h4>
      </div>
    </div>
  </div>
  <div class="container about">
    <div class="row mb-5">
      <div class="col-sm-12 col-md-6 about-us border-right border-sm-0 border-white mt-4 mt-md-0 ">
        <h4>Why?</h4>
        <p>
          "Shifa Technologies" was estalished in response to the Covid-19
          pandemic to address the shortage supply of ventilators which is
          critical to supporting patients with respiratory distress.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 about-us">
        <h4>What?</h4>
        <p>
          We have developeved <span>Shivent:</span> a non-electric, non-invasive
          ventilator that operates on the principle of bubble CPAC (Continous
          Positive Airways Pressure) that prevents the Airways deterioration.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-sm-12 col-md-6">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/WkiOzpttjb4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="col-sm-12 col-md-6">
        <h4>Functionality Test</h4>
        <p>Shivent has passed 2 functionality test carried out on:</p>
        <ol>
          <li>
            23rd May 2020 at the National Centre for Sports and Exercise
            Medicine, Loughborough University, United Kingdom
          </li>
          <li>
            10th June 2020 at the Royal Infirmary Hospital, Leicester, United
            Kingdom
          </li>
        </ol>
        <p>We are planning a pilot project in Lagos Nigeria for October 2020</p>
      </div>
    </div>
  </div>

  <div class=" container digital">
    <div class="row">
      <div class="col-sm-12 text-center digital-text mt-5 pt-4">
        
        <h4>Digital Platform</h4>
        <p>Digitalization of a non-electrical product is pushing the boundaries of possibilities. Our digital 
          platform offers  onboarding, installation, usage training and manuals for Doctors, Nurses and Medical practioners
          on how to use the ShiVent and manage patient records. Futhermore,it enables medical practioners to share experiences
          while adhereing to GDPR standards</p>
        
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h4 class="team">Team members</h4>
    <div class="row mt-3 members">
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Yusuf Shittu.jpg' %}"
              alt="member one"
              class="card-title"
              width="150"
              height="150"
            />
            <p class="card-text">
              Dr Yusuf Shittu
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Yusuf Bilesanmi.jpg' %}"
              alt="member two"
              class="card-title"
              width="150"
              height="150"
            />
            <p class="card-text">
              Yusuf Oladipupo B.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Ricardo.jpg' %}"
              alt="member three"
              class="card-title0"
              width="150"
              height="150"
            />
            <p class="card-text">
              Ricardo O' Nascimento,.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Pawel.jpg' %}"
              alt="member four"
              class="card-title0"
              width="150"
              height="150"
            />
            <p class="card-text">
              Pawel Nycz
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/gaurav.jpg' %}"
              alt="member five"
              class="card-title0"
              width="150"
              height="150"
            />
            <p class="card-text">
              Gaurav Nanajkar
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <p>Contact: info.shifa@gmail.com | +44(0)7492535908</p>
</footer>

{% endblock %}
