{% extends '_base.html' %} {% load static %} {% block content %}

<main class="overflow-hidden"> 
  <div class="container-fluid main">
    <div class="row">
      <div class="col-sm-12 shivent">
        <h4>ShiVent</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid about py-5">
    <div class="row align-items-center justify-content-center py-4 ">
      <div class="col-sm-12 col-md-6 border-right border-sm-0 border-dark  text-left about-us">
        <h4>Why?</h4>
        <p>
          "Shifa Technologies" was estalished in response the Covid-19
          pandemic to address the shortage supply of ventilators which is
          critical to supporting patients with respiratory distress.
        </p>
      </div>
      <div class="col-sm-12 col-md-6  mt-4 mt-md-0 text-left about-us">
        <h4>What?</h4>
        <p>
          We have developeved <span>Shivent:</span> a non-electric, non-invasive
          ventilator that operates on the principle of bubble CPAC (Continous
          Positive Airways Pressure) that prevents the Airways deterioration.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid product">
    <div class="row mt-5 justify-content-center py-5 product-function">
      <div class="col-sm-12 col-md-12 col-lg-6 product-vid">
        <iframe
          width="600"
          height="315"
          src="https://www.youtube.com/embed/WkiOzpttjb4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen >
        </iframe>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 mb-5 function">
        <h4>Functionality Test</h4>
        <p>Shivent has passed 2 functionality test carried out on:</p>
        <p>1- 23rd May 2020 at the National Centre for Sports and Exercise Medicine, Loughborough University, United Kingdom</p>
        <p>2- 10th June 2020 at the Royal Infirmary Hospital, Leicester, United Kingdom</p>
        <p>We are planning a pilot project in Lagos Nigeria for October 2020</p>
      </div>
    </div>
  </div>

  <div class="container digital">
    <div class="row">
      <div class="col-sm-12 text-center digital-text mt-5 pt-4">
        <h4>Digital Platform</h4>
        <p>
          Digitalization of a non-electrical product is pushing the boundaries
          of possibilities. Our digital platform offers onboarding,
          installation, usage training and manuals for Doctors, Nurses and
          Medical practioners on how to use the ShiVent and manage patient
          records. Futhermore,it enables medical practioners to share
          experiences while adhereing to GDPR standards
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <h4 class=" team text-left">Team</h4>
    <div class="row mt-3 members">
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/YusufShittu.jpg' %}"
              alt="member one"
              class="card-title"
              width="150"
              height="150"
            />
            <h5 class="card-text">
              Dr Yusuf Shittu
            </h5>
            <p>- Co-Founder/Director</p>
            <p>- medical doctor</p>
            <p>- global health innovator</p>
            <p>- UNLEASH Talent 2019</p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/YusufBilesanmi.jpg' %}"
              alt="member two"
              class="card-title"
              width="150"
              height="150" />
            <h5 class="card-text">
              Yusuf Oladipupo B.
            </h5>
            <p>- Founder/CEO</p>
            <p>- PhD Researcher, <br> Loughborough university</p>
            <p>- power and infrastructure</p>
            <p>- UNLEASH Talent 2019</p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Ricardo.jpg' %}"
              alt="member three"
              class="card-title0"
              width="150"
              height="150"
            />
            <h5 class="card-text">
              Ricardo O' Nascimento,.
            </h5>
            <p>- Co-Founder/Director</p>
            <p>- PhD Researcher, <br> Loughborough university</p>
            <p>- materials & wearabletech expert</p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/Pawel.jpg' %}"
              alt="member four"
              class="card-title0"
              width="150"
              height="150"
            />
            <h5 class="card-text">
              Pawel Nycz
            </h5>
            <p>- Co-Founder/Director</p>
            <p>- PhD Researcher, <br>Loughborough university</p>
            <p>- HVAC expert</p>
          </div>
        </div>
      </div>
      <div class="col-md-2.4">
        <div class="card">
          <div class="card-body member-img">
            <img
              src="{% static 'images/gaurav.jpg' %}"
              alt="member five"
              class="card-title0"
              width="150"
              height="150"
            />
            <h5 class="card-text">
              Gaurav Nanajkar
            </h5>
            <p>- Co-Founder/Director</p>
            <p>- PhD Researcher, <br> Loughborough university</p>
            <p>- CFD expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container mt-5">
    <div class="row align-items-center pb-5">
      <div class="col-md-6 text-left text-md-left mt-4 px-5 company">
        <h3>Shifa Technology Limited</h3>
        <p>Innovators and Manufacturer of ShiVent Ventilator</p>
        <h4><span>Email:</span>admin@shifatech.com</h4>
      </div>

      <div class="col-md-3 text-center text-md-left mt-5 pl-5 address">
        <h3>Address</h3>
        <p>23, Sockburn close, Hamilton, Leicester LE5 1NR,
          Leicestershire, United Kingdom.
        </p>
      </div>

      <div class="col-md-3 pr-4" >
        <ul class="footer-icon-social mb-0 mt-4 p-0 text-center text-md-right title-xs-small title-medium">
          <li class="list-inline-item">
            <a href="#" class="text-white">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item pl-4">
            <a href="#" class="text-white">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item pl-4">
            <a href="#" class="text-white">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item pl-4">
            <a href="#" class="text-white">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item pl-4">
            <a href="#" class="text-white">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row align-items-center border-top pt-5">
      <div class="col text-center">
        <span class="font-alt font-w-600 letter-spacing-1 text-white text-small text-uppercase">
          &copy; 2020 shifa tech. All right reserved
        </span>
      </div>
    </div> 
  </div>
</footer>

{% endblock %}
