/* .navbar {
  background: #fff;
  border-bottom: 2px solid #f1f1f1;
}
.nav-link {
  color: #000000;
  font-size: 17px;
} */

.main-form {
  min-height: 500px;
}

.login-form,
 .reg-form {
  /* height: 400px; */
  margin-top: 20px;
  padding: 10px;
}
.login-word,
.reg-word{
  background: #4d4e4f;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  padding: 1.2rem;
  margin-bottom: 20px;
}

.card {
  background: #f1f1f1;
}

fieldset {
  border: 0;
  padding: 12px 0px 30px 0px;
  /* margin: auto; */
}

label {
  margin-top: 15px;
  /* padding: 8px; */
}

#remember {
  display: inline-block;
  margin-right: 10px;
}

.btn {
  background-color: #d8452e;
  color: #fff;
  font-weight: 800;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* width: 100%; */
  margin-top: -15px;
  margin-bottom: 25px;
  padding: 10px;
}

.registerbtn {
  background-color: #d8452e;
  color: #fff;
  font-weight: 800;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}

.btn:hover {
  color: #fff;
}

.psw a {
  color: #d8452e;
  margin-right: 250px;
  padding: 20px;
}

.psw a:hover {
  color: #d8452e;
}

@media screen and (max-width: 600px) {
  
}