.navbar {
  border-bottom: 1px solid rgb(224, 223, 223);
  background: #fff;
}

.navbar-nav .nav-link {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-right: 20px;
}

#home:hover{
  color: #d8452e;
}

.nav-link:hover {
  color: #d8452e;
}

.main {
background: transparent url("../images/shifa-img.jpg") no-repeat fixed center center;
object-fit: cover;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
min-height: 100vh;
height: auto;
max-width: 100%;
width: 100%;
z-index: -1;
position: relative;
left: 0;
top: 0;
bottom: 0;
}


.main h4 {
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 26rem;
  right: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

@media screen and (min-width: 800px){
  .main h4 {
    font-size: 3.8rem;
  }
  
}

.about {
  background-color: rgba(236, 235, 235, 0.6);
}

.about-us h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #d8452e;
  padding-left: 20px;
}

.function h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #275880;
  padding-left: 20px;
}

.about-us p {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 5px;
  padding: 20px;
  margin-top: -10px;
}

iframe {
  width: 100%;
}


@media screen and (min-width: 800px) {
  iframe{
    max-width: 100%;
    width: 95%;
    margin-right: 22px;
  }

  .product-function{
    max-width: 100%;
    margin: 0 10px 10px 0;
  }
}

.function P{
  text-align: left;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 20px;
}

.product-function{
  max-width: 90%;
  margin: 0 auto;
}

.digital {
background-image: linear-gradient(rgba(134, 178, 215, 0.7), rgba(134, 178, 215, 0.7)),url("../images/Digital_platform.jpg");
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 370px;
max-width: 95%;
z-index: -1;
}


.digital-text {
  color: #fff;
  max-width: 60%;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
}

.digital-text p {
  font-size: 13px;
}
@media screen and (min-width: 800px) {
  .digital-text p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1440px){
.digital-text p {
  font-size: 1.3rem;
}

}

.digital-text h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
  background: transparent;
  color: #000;
  margin-right: 12px;
}

.team {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: #275880;
  margin-bottom: 10px;
  margin-left: 3rem;
  padding: 10px;
}

.team-member{
  max-width: 75%;
}

.members {
  margin-left: 0;
}
@media screen and (min-width: 800px) {
  .members {
    margin-left: 70px;
  }
}

.member-img img {
  border-radius: 50%;
}

.card-text {
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px;
}

.card-body p {
  text-transform: capitalize;
  font: 15px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  background:  #275880;
  margin-top: 30px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.company h3,
.address h3 {
  font-size: 21px;
  font-weight: 600;
}

.company p,
.address p {
  font-size: 19px;
  font-weight: 500;
}

.fa {
  font-size: 1rem;
}


/* #275880;  rgba(134, 178, 215, 0.7), rgba(134, 178, 215, 0.7)); */
  