.navbar {
  border-bottom: 1px solid rgb(224, 223, 223);
  background: #fff;
}

.navbar-nav .nav-link {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-right: 20px;
}

#home:hover{
  color: #d8452e;
}

.nav-link:hover {
  color: #d8452e;
}

.main {
background-image: url("../images/main_image.jpg");
background-size: cover;
background-repeat: no-repeat;
min-height: 80vh;
width: 100%;
z-index: 1;
}

.main h4 {
  color: #fff;
  z-index: 1;
  font-weight: 600;
  text-transform: capitalize;
  text-align: end;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  margin-top: 150px;
}

.about {
  background-color: rgba(236, 235, 235, 0.6);
}

.about-us h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #d8452e;
  padding-left: 20px;
}

.function h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #275880;
  padding-left: 20px;
}

.about-us p {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 5px;
  padding: 20px;
  margin-top: -10px;
}

.function P{
  text-align: left;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 20px;
}

.product-function{
  width: 70%;
  margin: 0 auto;
}

.product-vid {
  width: 1000px;
}

.digital {
background-image: linear-gradient(rgba(134, 178, 215, 0.7), rgba(134, 178, 215, 0.7)),url("../images/Digital_platform.jpg");
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 350px;
max-width: 80%;
z-index: -1;
}


.digital-text {
  color: #fff;
  max-width: 60%;
  min-height: 100px;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
}

.digital-text h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
  background: transparent;
  color: #000;
  margin-right: 12px;
}

.team {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: #275880;
  margin-bottom: 10px;
  margin-left: 10rem;
  padding: 10px;
}

.members {
  margin-left: 20rem;
}

.member-img img {
  border-radius: 50%;
}

footer {
  background:  #275880;
  margin-top: 30px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.company h3,
.address h3 {
  font-size: 21px;
  font-weight: 600;
}

.company p,
.address p {
  font-size: 19px;
  font-weight: 500;
}

.contact-form {
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
.product-function{
  display: block;
  width: 100%;
}

.function {
  width: 100%;
  margin-top: 30px;
  background-color: rgba(241, 236, 236, 0.5);
}

.members {
  margin-left: 10rem;
}
}
@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
  }

  .main {
    background:  #3b6cb6;
    max-width: 100%;
    min-height: 30vh;
  }

  .overlay {
    min-height: 60px;
  }

  .product-function{
    width: 100%;
  }

  .function {
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }

  .digital {
    background-image: linear-gradient(rgba(134, 178, 215, 0.7), rgba(134, 178, 215, 0.7));
    max-width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .digital-text {
    max-width: 100%; 
  }

  .main h4 {
    font-size: 30px;
    margin-top: 50px;
  }

  .about-us h4 {
  font-size: 30px;
}

/* .team  */
.card {
  margin-bottom: 20px;
}

.members, 
.team {
  margin: 0 auto;
}
}